 .form-white-background {
            background: #fff;
            border: 1px solid #e2e2e2;
            box-shadow: 0 0 5px #888;
            border-radius: 4px;
            padding-top: 25px;
            width: 650px;
            position: absolute;
            bottom: initial;
            left: 0;
            right: 0;
            margin: auto;
            overflow: hidden;
            top: 10%;
        }
        
        .heading_logo h1 {
            font-size: 50px;
            margin: 0px;
            padding-top: 0px !important;
            text-align: center;
            color: #B92B27;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .heading_logo img{
            height: 70px;
   /* width: 70px;*/
    margin-left: 15px;
           
        }
        
        .heading_logo p {
            text-align: center;
            font-size: 22px;
            color: #9999A6;
            font-family: 'q_serif', Georgia, Times, "Times New Roman", serif;
        }
        
        .content_inner {
            padding: 32px;
        }
        
        .button a.tw {
            background: #3B5998;
            float: left;
        }
        
        i.anc-tw {
            background: url(img/facebook.png)no-repeat 10px 9px #37528C;
            width: 50px;
            height: 40px;
            display: inline-block;
            padding: 10px;
            float: left;
            border-radius: 4px 0px 0px 4px;
        }
        
        .button a {
            font-size: 15px;
            font-weight: 600;
            color: #fff;
            margin: 0px 1.5% 0px 0px;
            border-radius: 4px;
            float: left;
            width: 100%;
            padding: 0px 0;
            height: 40px;
        }
        
        .button a span {
            margin-top: 8px;
            display: block;
            text-align: center;
            font-size: 16px;
            font-weight: 300;
        }
        
        .clear {
            clear: both;
        }
        
        a {
            text-decoration: none;
        }
        
        .button a.go {
            background: #D34836;
            margin: 0;
            float: left;
        }
        
        i.anc-go {
            background: url(../images/google.png)no-repeat 9px 9px #C74534;
            width: 50px;
            height: 40px;
            display: inline-block;
            padding: 10px;
            float: left;
            border-radius: 4px 0px 0px 4px;
        }
        
        .text_extra {
            margin-top: 10px;
            width: 100%;
        }
        
        .text_style {
            color: #999;
            font-size: 14px;
        }
        
        .border-right {
            border-right: 1px solid #d3d3d3;
        }
        
        .lgn {
            float: right;
        }
        
        input {
            background-color: #EEE !important;
        }
        
        .content_inner2 {
            padding: 20px;
        }
        
        .margin-top {
            margin-top: 40px;
        }
@media only screen and (max-device-width: 1024px){
    .form-white-background {
            width: 550px;
    }
}
@media only screen and (max-device-width: 960px){
    .form-white-background {
            width: 550px;
    }
}
@media only screen and (max-device-width: 768px){
    .form-white-background {
            width: 550px;
    }
}
@media only screen and (max-device-width: 640px){
    .form-white-background {
            width: 455px;
    }
}
@media only screen and (max-device-width: 360px){
    .form-white-background {
            width: 315px;
    }
}

@media only screen and (max-device-width: 480px){
    .form-white-background {
            width: 390px;
    }
}
@media only screen and (max-device-width: 360px){
    .form-white-background {
            width: 315px;
    }
}
@media only screen and (max-device-width: 320px){
    .form-white-background {
            width: 315px;
    }
}