body {
    padding-top: 99px;
    color: #000;
}

.search-form-input {
    width: 400px;
}

.btn-action {
    color: #fff;
    background: #00A2E8;
    width: 200px;
    font-weight: bold;
    font-size: 1.125em;
}

.btn-action:hover {
    color: #fff;
}

.logo {
    height: 50px;
}

.trending-topics-heading {
    margin-top: 25px;
}

.TrendingList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.TrendingList__item {
    color: #333;
    font-size: 1.525em;
}

.TrendingList__item:hover {
    color: #444;
    text-decoration: none;
}

.TrendingList__number {
    display: inline-block;
    margin-right: 12px;
    font-size: 1.525em;
    color: #999;
}

.TrendingList__meta-block {
    margin-top: -10px;
}

.TrendingList__meta {
    display: inline-block;
    font-size: 14px;
    margin-left: 12px;
}
.TrendingList__meta:first-child {
    margin-left: 40px;
}

/* Overwrite */
.navbar-nav>li>a {
    line-height: 70px;
}

.navbar-inverse .navbar-brand  {
    line-height: 70px;
    font-size: 2.125em;
    color: #fff;
}


.ggf{
	margin-top: 5px;
    height: 70px;
    width: 138px;
    background: url(/images/1.gif) no-repeat;
    background-position: center;
    background-size: 715%;
	
}
	
	
  #spinner {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
/*
  #spinner:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }*/



  #stage {
    margin: 1em auto;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
  }



  /* WebKit and Opera browsers */
  @-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg);    }
    to   { -webkit-transform: rotateY(-360deg); }
  }

  /* all other browsers */
  @keyframes spinner {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }




                    
.lb_fr {
  margin: 2em;
  display: inline-block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.r_inp {
  height: 1px;
  width: 1px;
  opacity: 0;
}

.outside {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  border: 2px solid #00A2E8;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
}

.inside {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #00A2E8;
  left: 3px;
  top: 3px;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
}
.no-transforms .inside {
  left: auto;
  top: auto;
  width: 0;
  height: 0;
}

.r_inp {
  /*  &:focus, &:active {
        + .outside {
          border-color: $almost-black;
        }
      }*/
}
.r_inp:checked + .outside .inside {
  -webkit-animation: radio-select 0.1s linear;
          animation: radio-select 0.1s linear;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.no-transforms .r_inp:checked + .outside .inside {
  width: 10px;
  height: 10px;
}


.paymentrow:nth-child(even) {
    background:#76b9ed;
	padding:10px;
	color:#fff;
	font-weight:700;
}

.paymentrow:nth-child(odd) {
    background: #a6d8ff;
	padding:10px;
	color:#000;
	font-weight:700;
}

#myDIV label{
	margin-top:15px;}
.adimg{
	font-size:12px;
	}	
.adimg img{
		padding-left: 15px;
	}
	
@media screen and (max-width: 1200px) {
	
.trgt {
    margin-top: 0 !important;
 
}
nav .col-md-2 {
    width: 16.66666667%;
	float: left;
}
nav .col-md-10 {
    width: 83.33333333%;
	float: left;
}
.home_p .col-md-9 {
    width: 75%;
}
.home_p .col-md-3 {
    width: 25%;
}
.leave_comnt {
    width: 50%!important;
}
.btn-action {
    color: #fff;
    background: #00A2E8;
    width: 140px;
    font-weight: normal;
    font-size: 1.125em;
}
}
@media screen and (max-width: 1050px) {
	.navbar-nav > li > a {
    line-height: 20px;
}
.navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
	line-height:20px;
}
.trgt {
    margin-top: 0 !important;
 
}
nav .col-md-2 {
    width: 16.66666667%;
	float: left;
}
nav .col-md-10 {
    width: 83.33333333%;
	float: left;
}
.home_p .col-md-9 {
    width: 75%;
}
.home_p .col-md-3 {
    width: 25%;
}


}
@media screen and (max-width: 768px) {
    #search-form {
        text-align: center;
    }

    .navbar-nav>li>a {
        line-height: 30px;
    }

    .navbar-toggle {
        margin-top: 35px;
    }

    .container>.navbar-header {
        height: 100px;
    }

    .container>.navbar-collapse {
        text-align: center;
    }

    .search-form-input {
        max-width: 320px;
        display: inline;
    }
	#hide_ad{
			display:none;
	}
	#hide{
		display:none;
		}
	.im_pos{
			display:none;
	}
	nav .col-md-2 {
    width: 100%;
    float: left;
}
nav .col-md-10 {
    width: 100%;
    float: left;
}
.home_p .col-md-9 {
    width: 100%;
}
.home_p .col-md-3 {
    width: 100%;
}
}
@media screen and (max-width: 480px) {
	.adimg{
		text-align: center;
		
	}
	.adimg img{
		padding-left: inherit;
	}
}


#search-form {
    line-height: 70px;
}

.spam-flag {
    color: red;
}

.spam-flag, trash-flag {
    font-weight: bold;
    font-size: 1.125em;
}

#addNewTopic {
    margin-top: 22px;
}

hr {
    border-top: 2px solid #00A2E8;
}

#using-page {
    padding: 20px 0 60px;
}

.using-title {
    color: #00A2E8;
}

.sup-beta {
    color: #f7931a;
    font-size: 16px;
}
#app  iframe{
	    width: 100% !important;
    height: 100%!important;
}




.TrendingList__item{
	font-weight:bold;
}
.moveleft{
	margin-left:30px;
}
.TrendingList__meta{
	margin-left:29px !important;
	margin-top:20px !important;
}
.TrendingList li{
	padding-bottom:10px;
	padding-top:10px;
	border-bottom:2px solid #ccc;
	/*margin-bottom:20px;*/
}
.imgborder img{
	overflow:hidden;
	border:1px solid #ccc;
}



.termcss{
	color:#F00;
}

#ppBody {
	font-size:11pt;
	width:100%;
	margin:0 auto;
	text-align:justify;
}
#ppHeader {
	font-family:verdana;
	font-size:21pt;
	width:100%;
	margin:0 auto;
}
.ppConsistencies {
	display:none;
}

.par_unl{
	
    padding-top: 10px;
	margin-top:25px;
    border-top: 2px solid rgb(204, 204, 204);}


tr.spaceUnder>td {
  padding-bottom: 1.5em;
}

