
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#site-section {
  width: 100%;
  height: 100vh;
}

.post-comments {
  padding-top: 20px;
}
