<template></template>

<script>
  // Notifications
  import Noty from 'noty';

  export default {
    props: ['flash'],

    data() {
      return {
        message: 'Wooho',
        type: 'success',
      };
    },

    mounted() {
        if (this.flash) {
            this.message = this.flash;
            this.status = 'info';

            this.display(() => console.log('HIT FROM CALLBACK'));
        }

        Event.listen('alert', (alert) => {
            this.message = alert.message;
            this.status = alert.status;

            this.display(alert.callback);
        });
    },

    methods: {
        display(callback = () => '') {

            new Noty({
                theme: 'relax',
                layout: 'bottomRight',
                text: this.message,
                type: this.status,
                // timeout: 2000 Temporarily,
                closeWith: ['button'],
                callback: {
                    afterClose() {
                        callback();
                    }
                }
            }).show();

        },

    }
  }
</script>