<template>
    <span class="give-coins" v-if="! finished">
        <a class="give-coins-btn" @click.prevent="display = ! display" :class="{ 'active-give': display }">Give Coins</a>

        <div class="give-coins-form" v-show="display">
            <select v-model="currency" id="" style="display: inline-block; height: 28px;">
                <option selected value="btc">BTC</option>
                <option value="doge">DOGE</option>
                <!--<option value="eth">ETH</option>-->
                <!--<option value="dash">DASH</option>-->
            </select>

            <input type="text" v-model="amount" placeholder="amount" style="display: inline-block; width: 50px;">

            <button @click.prevent="give" :disabled="loading">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>

            <div class="loader pull-right" v-if="loading"></div>
        </div>
    </span>
</template>

<style>
    .media, .media-body {
        overflow: visible;
    }

    .give-coins {
        position: relative;
    }

    .give-coins-form {
        position: absolute;
        left: -110px;
        width: 220px;
        max-width: 220px;
        background: #fff;
        border: 1px solid #ccc;
        padding: 12px !important;
        z-index: 10;
    }

    .give-coins, .give-coins-form {
        display: inline-block;
    }

    .give-coins-form {
        margin-left: 12px;
    }

    .give-coins-btn {
        cursor: pointer;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 24px;
        height: 24px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    .active-give {
        font-weight: 600;
    }
</style>

<script>
    export default {
        props: ['user', 'comment'],

        data() {
            return {
                display: false,
                currency: 'btc',
                amount: 1,
                loading: false,
                finished: false,
            };
        },

        mounted() {
            console.log(this.user);
        },

        methods: {
            give() {								
                this.loading = true;
                const action = `/api/comments/${this.comment.id}/currencies/${this.currency}/${this.user.id}/gift/${this.amount}`;

                axios.post(action)
                    .then(response => {
                        Event.fireAlert(
							response.message                            
                        );

                        this.loading = false;
                        this.finished = true;
                    })
                    .catch(error => {
                        this.loading = false;
                        this.finished = true;

                        Event.fireAlert(
                            error.response.data.message
                        );
                    });

            }
        }
    }
</script>
